<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="nav (paginationBar)" class="pagination is-small">
    <!-- prev/next -->
    <a class="pagination-previous" disabled th:if="${paginationBar.previousButton == null}">Previous</a>
    <a class="pagination-previous" th:href="@{${paginationBar.previousButton.url}}"
       th:if="${paginationBar.previousButton != null}">Previous</a>

    <a class="pagination-next" disabled th:if="${paginationBar.nextButton == null}">Next</a>
    <a class="pagination-next" th:href="@{${paginationBar.nextButton.url}}"
       th:if="${paginationBar.nextButton != null}">Next</a>

    <!-- pagination list -->
    <ul class="pagination-list">
        <th:block th:if="${paginationBar.firstButton != null}">
            <li><a class="pagination-link"
                   th:classappend="${currentPage == 1} ? is-current"
                   th:href="@{${paginationBar.firstButton.url}}">1</a></li>

            <li><span class="pagination-ellipsis">&hellip;</span></li>
        </th:block>

        <li th:each="btn : ${paginationBar.buttonsBar}">
            <a class="pagination-link"
               th:classappend="${btn.isCurrent} ? is-current"
               th:href="@{${btn.url}}"
               th:text="${btn.text}">curr</a>
        </li>

        <th:block th:if="${paginationBar.lastButton != null}">
            <li><span class="pagination-ellipsis">&hellip;</span></li>

            <li>
                <a class="pagination-link"
                   th:href="@{${paginationBar.lastButton.url}}"
                   th:text="${paginationBar.lastButton.text}">last</a></li>
        </th:block>

    </ul>
</nav>
</body>
</html>