<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Q-Search - StackOverflow favorite questions search tool</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<section class="section" id="app">
    <div class="container">
        <h1 class="title">
            Q-Search
        </h1>
        <p class="subtitle">
            Easy search for your favorite <a class="has-text-weight-semibold" href="https://stackoverflow.com/">Stackoverflow</a>
            questions!
        </p>

        <section v-if="!loadCompleted" class="has-text-info">
            <i class="fas fa-cog fa-spin"></i> Loading...
        </section>

        <section v-show="loadCompleted" style="display: none">
            <div v-if="!isPageEmpty" class="hero is-warning">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Nothing found in your favorites list!
                        </h1>
                        <h2 class="subtitle">
                            Add some interesting question!
                        </h2>
                    </div>
                </div>
            </div>

            <nav v-if="isPageEmpty" class="level">
                <div class="level-left">
                    <div class="level-item">
                        <span>Sort by:</span>
                        <span class="sort-by-item">
                        <a v-bind:class="isSortCriteriaActive('Activity')"
                           v-on:click="selectSortCriteria('Activity')">Activity</a>
                    </span>
                        <span class="sort-by-item">
                        <a v-bind:class="isSortCriteriaActive('Vote')"
                           v-on:click="selectSortCriteria('Vote')">Vote</a>
                    </span>
                        <span class="sort-by-item">
                        <a v-bind:class="isSortCriteriaActive('Asked')"
                           v-on:click="selectSortCriteria('Asked')">Asked</a>
                    </span>
                        <span class="sort-by-item">
                        <a v-bind:class="isSortCriteriaActive('Views')"
                           v-on:click="selectSortCriteria('Views')">Views</a>
                    </span>
                    </div>
                </div>

                <div class="level-right">
                    <div class="level-item">
                        <p>
                        <span v-if="pageResult.filteredItemsCount < pageResult.totalItemsCount">
                            Showing <span>{{pageResult.filteredItemsCount}}</span> of
                        </span>
                            <strong>{{pageResult.totalItemsCount}}</strong> questions
                        </p>
                    </div>
                </div>
            </nav>

            <main v-if="isPageEmpty" class="columns">
                <div class="column is-one-quarter">
                    <div class="field has-addons">
                        <p class="control">
                            <a class="button"
                               v-bind:class="isSortDirectionActive('Desc')"
                               v-on:click="selectSortDirection('Desc')">
                                <span class="icon is-small"><i class="fas fa-angle-down"></i></span>
                                <span>Desc</span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button"
                               v-bind:class="isSortDirectionActive('Asc')"
                               v-on:click="selectSortDirection('Asc')">
                                <span class="icon is-small"><i class="fas fa-angle-up"></i></span>
                                <span>Asc</span>
                            </a>
                        </p>
                    </div>

                    <div class="field has-addons">
                        <p class="control">
                            <input v-model="searchKey" class="input" type="text" placeholder="Find a question">
                        </p>
                        <p class="control">
                            <button class="button" v-on:click="search">
                                Search
                            </button>
                        </p>
                    </div>
                </div>

                <div class="column">
                    <table class="table is-striped is-fullwidth is-hoverable q-list">
                        <tr v-for="q in pageResult.pageItems">
                            <td title="Votes" class="has-text-centered">
                                <p><span class="icon is-small"><i class="fas fa-thumbs-up"></i></span></p>
                                <p>{{q.scoreNice}}</p>
                            </td>
                            <td title="Answers" class="has-text-centered">
                                <p><span class="icon is-small"><i class="fas fa-comment"
                                                                  data-fa-transform="flip-h"></i></span></p>
                                <p>{{q.answerCountNice}}</p>
                            </td>
                            <td title="Views" class="has-text-centered">
                                <p><span class="icon is-small"><i class="fas fa-eye"></i></span></p>
                                <p>{{q.viewCountNice}}</p>
                            </td>
                            <td>
                                <div>
                                    <a v-bind:href="q.link" target="_blank">
                                        <span v-html="q.title" class="has-text-weight-semibold">}</span>
                                        <!--<span class="icon is-small"><i class="fas fa-external-link-alt"></i></span>-->
                                    </a>
                                </div>
                                <div class="tags">
                                    <span v-for="t in q.tags" class="tag is-primary">{{t}}</span>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <nav class="pagination is-small">
                        <!-- prev/next -->
                        <a class="pagination-previous" disabled v-if="paginationBar.previousButton == null">Previous</a>
                        <a class="pagination-previous" v-on:click="getPage(paginationBar.currentPage - 1)"
                           v-if="paginationBar.previousButton != null">Previous</a>

                        <a class="pagination-next" disabled v-if="paginationBar.nextButton == null">Next</a>
                        <a class="pagination-next" v-on:click="getPage(paginationBar.currentPage + 1)"
                           v-if="paginationBar.nextButton != null">Next</a>

                        <!-- pagination list -->
                        <ul class="pagination-list">
                            <template v-if="paginationBar.firstButton != null">
                                <li>
                                    <a class="pagination-link"
                                       v-on:click="getPage(1)">1</a>
                                </li>
                                <li>
                                    <span class="pagination-ellipsis">&hellip;</span>
                                </li>
                            </template>

                            <li v-for="btn in paginationBar.buttonsBar">
                                <a class="pagination-link"
                                   v-bind:class="isCurrentPage(btn)"
                                   v-on:click="getPage(btn.text)">{{btn.text}}</a>
                            </li>

                            <template v-if="paginationBar.lastButton != null">
                                <li>
                                    <span class="pagination-ellipsis">&hellip;</span></li>
                                <li>
                                    <a class="pagination-link"
                                       v-on:click="getPage(paginationBar.lastButton.text)">{{paginationBar.lastButton.text}}</a>
                                </li>
                            </template>
                        </ul>
                    </nav>
                </div>
            </main>
        </section>
    </div>
</section>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
